* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.site-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
}

.image-cropper {
    border-radius: 50%;
    height: 100px;
    overflow: hidden;
    width: 100px;
}

.image-cropper img {
    height: 100px;
    object-fit: contain;
    width: 100px;
}

.header-right {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.menu {
    font-size: 18px;
    font-size: clamp(18px, 2vw, 24px);
    margin-right: 20px;
}

a {
    color: #303030;
    font-weight: bold;
    text-decoration: none;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}

.introduction {
    color: #303030;
    display: flex;
    flex-direction: column;
    font-size: clamp(30px, 1rem + 2vw, 60px);
    font-weight: bold;
    height: 90vh;
    justify-content: center;
    padding: 0 20px;
}

.introduction h2 {
    font-size: 26px;
    font-size: clamp(26px, 1rem + 2vw, 50px);
    margin-top: 20px;
}

.title {
    color: #303030;
    font-size: clamp(26px, 1rem + 2vw, 50px);
    font-weight: bold;
    padding-bottom: 20px;
}

.article {
    padding: 0 40px;
}

.about li {
    margin: 0 0 10px 20px;
}

.about h4 {
    padding: 20px 0;
}

.about p {
    font-size: clamp(14px, 1rem + 2vw, 20px);
}

.bottom-nav {
    bottom: 4px;
    left: 4px;
    position: fixed;
    width: 30px;
}

.bottom-nav a {
    color: #303030;
    display: block;
    margin-top: 8px;
    text-decoration: none;
}

.bottom-nav a:hover {
    color: #303030;
}

.bottom-nav-right {
    bottom: 10px;
    position: fixed;
    right: 10px;
}

.bottom-nav-right a {
    font-size: 25px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    margin-bottom: 40px;
    list-style-type: none;
}

.project img {
    max-width: 100%;
}

.project-title {
    font-size: clamp(22px, 1rem + 2vw, 30px);
    font-weight: bold;
    color: #303030;
    margin: 10px 0px;
}

.project-description {
    font-size: clamp(14px, 0.5rem + 2vw, 18px);
    font-weight: normal;
    color: #303030;
    text-align: justify;
    margin: 0 auto;
    width: 300px;
    height: 200px;
}

footer {
    padding: 20px;
    text-align: center;
    font-size: clamp(14px, 0.5rem + 2vw, 18px);
    font-weight: normal;
    color: #303030;
}



@media screen and (min-width: 1024px) {
    .row-wrapper {
        display: flex;
        gap: 20px;
    }
}

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 100px;
}

.carousel-slide {
    display: none;
    text-align: center;
}

.carousel-slide img {
    width: 80%;
    height: auto;
}

.image-description {
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.carousel-navigation {
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    font-size: 25px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    animation: pulse 1s infinite;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.carousel-navigation.prev {
    left: 0;
    color: black;
}

.carousel-navigation.next {
    right: 0;
    color: black;
}
.iframe-container {
    width: 100%;
    height: 100vh;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
iframe {
    display: flex;
    width: 100%;
    height: 90vh;
    right: 0;
    left: 0;
    border: none;
}
.article {
    padding: 0 20px;
}


@media screen and (min-width: 768px) {
    .article {
        padding: 0 80px;
    }

    .bottom-nav {
        left: 10px;
        bottom: 10px;
    }

    main {
        gap: 60px;
    }

    .carousel-navigation.prev {
        left: 6%;
        color: black;
    }

    .carousel-navigation.next {
        right: 6%;
        color: black;
    }

    .carousel-navigation {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 50px;
        background: none;
        border: none;
        color: #fff;
        cursor: pointer;
        padding: 10px;
        animation: pulse 1s infinite;
    }

    .project-description {
        font-size: clamp(14px, 0.5rem + 2vw, 18px);
        font-weight: normal;
        color: #303030;
        margin: 0 auto;
        text-align: justify;
        width: 100%;
        height: 100%;
    }
    
    .iframe-container {
        width: 100%;
        height: 100vh;
        border: 2px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    iframe {
        display: flex;
        width: 100%;
        height: 90svh;
        right: 0;
        left: 0;
        border: none;
    }
}